* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    margin-top: 8px;
    font-weight: bold;
}

body {
    background-color: #f5f5f5;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 20px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 70%;
    resize: none;
}

button {
    background-color: #1e49a5;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
}

button:hover {
    background-color: #1e49a5;
}

.success-message {
    background-color: #12ad34;
    padding: 16px;
    color:#fff;
    display: none;
}

.error-message {
    background-color: #e91111;
    padding: 5px;
    color: #fff;
    margin-bottom: 8px;
    font-size: 12px;
    display: none;
}
